:root {
    --bg-chat-900: #111;
    --bg-chat-800: #222;
    --bg-chat-700: #333;
    --bg-chat-600: #444;
    --bg-chat-500: #777;
    --bg-chat-400: #bbb;
    --bg-chat-300: #ccc;
    --bg-chat-200: #ddd;
    --bg-chat-100: #eee;
    --bg-chat-50: #fff;

    --bg-green-50	: rgb(240 253 244);
    --bg-green-100	: rgb(220 252 231);
    --bg-green-200	: rgb(187 247 208);
    --bg-green-300	: rgb(134 239 172);
    --bg-green-400	: rgb(74 222 128);
    --bg-green-500	: rgb(34 197 94);
    --bg-green-600	: rgb(22 163 74);
    --bg-green-700	: rgb(21 128 61);
    --bg-green-800	: rgb(22 101 52);
    --bg-green-900	: rgb(20 83 45);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container {
    display: flex;
    justify-content: center;
}
.messenger {
    margin-top: 10px;
    background-color: #eee;
    width: calc(230px + 100px + 50px);
    height: calc(370px + 100px + 100px);
    border-radius: 1rem;
    font-family: 'Poppins', sans-serif;
    /* margin-right: 40%; */
    /* padding: 0px 20px; */
    display: none;
}
.messenger__header {
    /* color: #777; */
    /* color: var(--bg-chat-500); */
    /* font-weight: bold; */
    color: var(--bg-chat-200);
    padding: 1.8% 0 0 5%;
    height: 10%;
    /* background-color: #333; */
    background-color: var(--bg-chat-700);
    /* background-color: var(--bg-green-800); */
    border-radius: 1rem 1rem 0rem 0rem;
    /* margin-top: 15px; */
    /* width: 100%; */
}
.messenger__header > div {
    margin-top: 2px;
}
#crossbar {
    display: block;
    /* color:var(--bg-green-100); */
    /* text-align: end; */
    text-align: right;
    /* text-align: calc(200%); */
    /* vertical-align:text-bottom; */
    /* text-align-last: auto; */
    /* vertical-align: middle; */
    font-size: 2.7rem;
    /* margin-right: 20px; */
    margin-left: 75%;
    cursor: pointer;
    width: 10%;
    /* padding-left: 40px; */
    
}
.messenger__body {
    position: relative;
    height: 75%;
    /* max-height: 100px; */
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;  /* Firefox */
}
.messenger__footer {
    height: 15%;
    /* background-color: #ccc; */
    background-color: var(--bg-chat-300);
    /* background-color: var(--bg-green-700); */
    border-radius: 0rem 0rem 1rem 1rem;
}
textarea {
    font-size: 1.2rem;
    height: calc(15px + 50px);
    /* padding: 0px; */
    width: 100%;
    padding: 5px 5px;
    margin: 10px 1px 0px 10px;
    border: none;
    resize: none;
    border-radius: 4px;
    /* background-color: #ddd; */
    background-color: var(--bg-chat-200);
}
textarea:focus {
    /* border: none; */
    outline: none;
}
.message {
    padding: 0%;
}
.message__send {
    margin: 20px 0px 0px 4px;
    color: #ddd;
    /* color: var(--bg-chat-200); */
    /* color: var(--bg-green-700); */
    /* background-color: #444; */
    background-color: var(--bg-chat-600);
    /* background-color: var(--bg-green-800); */
    border: none;
    text-decoration: none;
    text-align: center;
    border-radius: 3px;
    padding: 13px 15px;
}
.message__send:hover {
    /* background-color: #222; */
    /* background-color: var(--button__hover); */
    background-color: var(--bg-chat-800);
    /* border: 1px solid #444; */
    /* color: #eee; */
    /* color: var(--bg-chat-50); */
    color: #fff;
}
.message__send:active {
    /* background-color: red; */
    box-shadow: rgba(5, 5, 5, 0.15) 2px 2px 2.6px, rgba(5, 5, 5, 0.15) -2px 0px 2.6px;
}
.conversation {
    /* background-color: #ddd; */
    /* width: 100%; */
    margin: 10px 10px;
    /* margin-left: 20px; */
    position: relative;
    /* padding: 2px 10px; */
}
.conversation__user {
    display: none;
    /* width: 100%; */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #222;
}
.conversation__text {
    /* background-color: #ddd; */
    background-color:var(--bg-chat-200);
    /* background-color: var(--bg-green-600); */
    border-radius: 5px;
    padding: 8px;
    padding-bottom: 15px;
    width: fit-content;
    max-width: 90%;
    min-width: 50px;
    position: relative;
}
.receiver {
    margin-left: 20px;
}
.sender {
    margin-right: 20px;
}
.timestamp {
    bottom: .8px;
    right: 5px;
    font-size: 1rem;
    position: absolute;
    color: #777;
}
.bubble-arrow {
    position: absolute;
    width: 0;
    bottom: 40px;
    left: -16px;
    height: 0;
}
.bubble-arrow.alt {
    right: -2px;      
    bottom: 40px;
    left: auto;
}
.bubble-arrow:after {
    content: "";
    position: absolute;
    border: 0 solid transparent;
    border-top: 9px solid #ddd;
    border-radius: 0 20px 0;
    width: 15px;
    height: 30px;
    transform: rotate(145deg);
}
.bubble-arrow.alt:after {
    transform: rotate(45deg) scaleY(-1);
}
.date {
    /* margin-top: 15px; */
    /* top: 10px; */
    /* position: absolute; */
    /* position: sticky; */
    /* text-align: center; */
    /* z-index: 2; */
    /* background-color: #bbb; */
    background-color: var(--bg-chat-400);
    padding: 5px 8px;
    border-radius: 5px;
    /* top: -15px; */
    /* right: 40%; */
    /* opacity: 65%; */
    /* opacity: 0; */
    /* animation: fadeOut 4s forwards; */
}
.divider span {
    display: inline-block;
}
.divider {
    text-align: center;
    /* left: 3%; */
    /* right: 3%; */
    z-index: 30;
    position: sticky;
    /* position: absolute; */
    top: 10px;
    /* padding: 0; */
    /* margin: 0; */
    /* display: none; */
}
/* .conversation__date { */
    /* position: relative; */
    /* position: sticky; */
/* } */
@keyframes fadeOut {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}
::-webkit-scrollbar {
    /* width: 15px; */
    /* height: 15px; */
    display: none;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    textarea {
        font-size: 1.5rem;
    }
    .conversation {
        font-size: 1.5rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    textarea {
        font-size: 1.5rem;
    }
    .conversation {
        font-size: 1.5rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    textarea {
        font-size: 1.5rem;
    }
    .conversation {
        font-size: 1.5rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    textarea {
        font-size: 1.5rem;
    }
    .conversation {
        font-size: 1.5rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    textarea {
        font-size: 1.5rem;
    }
    .conversation {
        font-size: 1.5rem;
    }
}
