:root {
    --bg-chat-900: #111;
    --bg-chat-800: #222;
    --bg-chat-700: #333;
    --bg-chat-600: #444;
    --bg-chat-500: #777;
    --bg-chat-400: #bbb;
    --bg-chat-300: #ccc;
    --bg-chat-200: #ddd;
    --bg-chat-100: #eee;
    --bg-chat-50: #fff;

    --bg-green-900  : rgb(5, 133, 76);
}
/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.messenger {
    z-index: 10000;
    background-color: #fff;
    width: calc(230px + 100px);
    height: calc(370px + 100px);
    border-radius: 1rem;
    /* font-family: 'Poppins', sans-serif; */
    bottom: 0;
    right: 0;
    position: fixed;
    margin-right: 100px;
    margin-bottom: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.messenger .container {
    display: flex;
    justify-content: center;
}
.messenger__header {
    color: #fff;
    height: 10%;
    background-color: var(--bg-green-900);
    border-radius: .8rem .8rem 0rem 0rem;
    width: 100%;
    margin-left: 0;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header__buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}
#crossbar {
    font-size: 2rem;
    font-weight: lighter;
    cursor: pointer;
}
#minimizer, #maximizer {
    font-size: 1.5rem;
    cursor: pointer;
}
.messenger__body {
    width: 100%;
    margin-left: 0;
    position: relative;
    height: 75%;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;  /* Firefox */
}
.messenger__footer {
    width: 100%;
    margin-left: 0;
    height: 15%;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;;
}
.messenger textarea {
    font-size: 1.2rem;
    width: 108%;
    border: none;
    resize: none;
    border-radius: 4px;
    background: none;
}
.messenger textarea:focus {
    /* border: none; */
    outline: none;
}
.messenger textarea::placeholder {
    color: var(--bg-chat-500);
}
/* .message {
    border-right: 2px solid rgba(0, 0, 0, 0.12);
} */
.message__send {
    margin-top: 20%;
    font-size: 2.5rem;
    color: var(--bg-green-900);
    background-color: #fff;
    border: none;
}
.message__send:hover {
    font-size: 2.6rem;
}
.conversation {
    margin: 10px 10px;
    position: relative;
}
.conversation__user {
    display: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #222;
}
.conversation__text {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    background-color: #fff;
    border-radius: 5px;
    padding: 8px;
    padding-bottom: 15px;
    width: fit-content;
    max-width: 90%;
    min-width: 30%;
    position: relative;
}
.receiver {
    margin-left: 20px;
}
.receiver-name {
    text-transform: capitalize;
    font-size: 1.8rem;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.sender {
    margin-right: 20px;
}
.timestamp {
    bottom: .8px;
    right: 5px;
    font-size: 1rem;
    position: absolute;
    color: #777;
}
/* .bubble-arrow {
    position: absolute;
    width: 0;
    bottom: 40px;
    left: -16px;
    height: 0;
}
.bubble-arrow.alt {
    right: -2px;      
    bottom: 40px;
    left: auto;
}
.bubble-arrow:after {
    content: "";
    position: absolute;
    border: 0 solid transparent;
    border-top: 9px solid #fff;
    border-radius: 0 20px 0;
    width: 15px;
    height: 30px;
    transform: rotate(145deg);
}
.bubble-arrow.alt:after {
    transform: rotate(45deg) scaleY(-1);
} */
.messenger .date {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 5px 8px;
    border-radius: 5px;
}
.divider span {
    display: inline-block;
}
.divider {
    text-align: center;
    z-index: 30;
    position: sticky;
    top: 10px;
}
@keyframes fadeOut {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}
.messenger__body::-webkit-scrollbar {
    display: none;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .messenger textarea {
        font-size: 1.5rem;
    }
    .conversation {
        font-size: 1.5rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .messenger textarea {
        font-size: 1.5rem;
    }
    .conversation {
        font-size: 1.5rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .messenger textarea {
        font-size: 1.5rem;
    }
    .conversation {
        font-size: 1.5rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .messenger textarea {
        font-size: 1.5rem;
    }
    .conversation {
        font-size: 1.5rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .messenger textarea {
        font-size: 1.5rem;
    }
    .conversation {
        font-size: 1.5rem;
    }
}
